/*Font Styling*/
@font-face {
    font-family: 'Inter-Regular';
    src: url('/assets/fonts/Inter-4.0/extras/ttf/Inter-Regular.ttf') format('truetype'); /* Adjust the path and format based on your file */
  }

@font-face {
    font-family: 'Inter-Black';
    src: url('/assets/fonts/Inter-4.0/extras/ttf/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Blonde';
    src: url(/assets/fonts/Blonde.otf) format('opentype');
}
/* General Styling */
body {
    font-family: 'Inter-Regular';
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(8, 8, 8, 1.0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

/*Navigation Bar*/
#landing_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0,0,0,0);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo{
    font-size: 24px;
    font-family: 'Blonde';
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 50px;
    line-height: 24px;
}

.second_logo{
    font-size: 24px;
    font-family: 'Blonde';
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-right: 610px;
    line-height: 24px;
}


nav {
    display: flex
}

.navigation_links{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 50px;
}

.navigation_links li {
    display: inline; 
}

.navigation_links a {
    font-family: 'Inter-Black';
    color: white;
    text-decoration: none; 
    font-size: 18px; 
    transition: color 0.3s ease; 
}

.navigation_links a:hover{
    color: #ffffff
}

/* 3D Graph Styling */
#3d-graph {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* The graph stays behind other content */
}

/* About Section Landing Page Styling */
.about_me {
    scroll-snap-align: start;
    position: absolute;
    width: 50vw;
    top: 100vh; /* Position it after the graph */
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(0, 0, 0, 0); /* Transparent to show graph behind */
    color: white;
    padding: 50px;
    font-size: large;
}

.about {
    scroll-snap-align: start;
    position: absolute;
    width: 50vw;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(0, 0, 0, 0); /* Transparent to show graph behind */
    color: white;
    padding: 50px;
    font-size: large;
}

/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

#transition_bottom {
    position: absolute;
    top: 90vh;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(8, 8, 8, 1));
}

/* Optional scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(8, 8, 8, 0.0);
}
::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 100, 0.3);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(8, 8, 8, 0.5);
}